
#parent{
    width: 1400px;
    height: 850px;
    border: 5px solid red;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    background-color: coral;
}
.child{
    width: 1200px;
    height: 150px;
    border: 1px solid blue;
    padding-top: 10px;
    padding-left: 10px;
    background-color: aquamarine;
    

}
child+h1{
    background-color: brown;
    color: blue;
}
